<link href="~/Content/About.css" rel="stylesheet" />
@{
    ViewBag.Title = "More about Me";
}
<h2 class="text-center">@ViewBag.Title</h2>

<br />
<h3 class="text-center">Career</h3>
<br />
<div class="row">
    <img id="pic1" class="col-md-6 " height="300" width="300" src="~/Content/MyPics/Certificate.jpg" />          
    <img id="pic2" class="col-md-6"  height="300" width="300" src="~/Content/MyPics/Credits.jpg" />    
</div> 
<div class="row">
    <p class="col-md-6">I have been working in health care for 17 years.  I started out as an STNA, and then became a nurse.</p>
    <p id="cap2" class="col-md-6 ">  I graduated from Cuyahoga Community College's Practical Nursing program with a GPA of 4.0 in 2004.  I have worked at the Lutheran home in Westlake, OH since April, 2005.</p>
</div> 
    <br />
    <br />
    <h3 class="text-center" id="family">Family</h3>
    <br />
    <br />
    <div class="row ">
        <img class="col-md-3" height="250" width="250" src="~/Content/MyPics/Jonathan2.jpg" />
        <img class="col-md-4 col-md-offset-1" height="250" width="300" src="~/Content/MyPics/Moya.jpg" />
        <img class="col-md-3 col-md-offset-1" height="250" width="250" src="~/Content/MyPics/Toby.jpg" />
    </div>
    <div>
        <p class="col-md-3 text-justify">I met my husband, Jonathan, in my senior year of high school.  We have been married for 15 years.</p>
        <p class="col-md-4 col-md-offset-1">We have two dogs.  We got Moya when she was 8 wks old.</p>
        <p class="col-md-3 col-md-offset-1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We got Toby as a rescue when he &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;was seven years old.</p>
    </div>
    <br />
    <br />
    <br />
    <h3 class="text-center" id="hobbies">Hobbies</h3>
    <br />
    <h4 class="text-center">I enjoy coloring as a way to express my creativity and design sense with color combination.</h4>
    <br />
    <div class="row">
        <img class="col-md-3" height="365" width="275" src="~/Content/MyPics/EscapeoftheUnicorns.jpg" />
        <img class="col-md-3 col-md-offset-1" height="365" width="275" src="~/Content/MyPics/Pinball.jpg" />
        <img class="col-md-3 col-md-offset-1" height="365" width="275" src="~/Content/MyPics/MysticalFantasy.jpg" />
    </div>
    <div class="row">
        <p class="col-md-3 text-center">"Escape of the Unicorns"</p>
        <p class="row col-md-3 col-md-offset-1 text-center">"Pinball Pandemonium"</p>
        <p class="row col-md-3 col-md-offset-1 text-center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Mystical Fantasy"</p>
    </div>
    <br />
    <br />
    <h4 class="text-center">I have played the piano on and off since I was six.  Mozart and Chopin are my favorite composers.</h4>
    <br />
    <img width="700" height="350" id="piano" class="col-md-offset-2" src="~/Content/MyPics/Piano.jpg" />
    <br />
    <br />
    <br />
    <h4 class="text-center">I enjoy games of all kinds, particularly poker and computer games. </h4>
    <h4 class="text-center">I have been a member of the Cleveland Poker Meetup Group since 2006, and am an event organizer with the group.</h4>
    <br />
    <div class="row">
        <img class="col-md-3" height="250" width="450" src="~/Content/MyPics/PokerTable.jpg" />
        <img class="col-md-4 col-md-offset-1" height="250" width="500" src="~/Content/MyPics/PokerChips.jpg" />
        <img class="col-md-3 col-md-offset-1" height="250" width="450" src="~/Content/MyPics/Desktop.JPG" />
    </div>
<div class="row">
    <p class="col-md-3 text-center">My poker table</p>
    <p class="col-md-4 col-md-offset-1 text-center">My poker chips</p>
    <p class="col-md-3 col-md-offset-1 text-center">My desktop games icons</p>
</div>