
<link href="~/Content/Home.css" rel="stylesheet" />
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"  >
    <img height="400" width="270" id="jumboPic" src="~/Content/MyPics/meSuit2.jpg" alt="picture of Kirstin Walsh" />
    <h1 id="homeHeader">Kirstin Walsh</h1>
    <h2>Entry-Level Software and Web Developer</h2>
    <img height="250" width="540" id="codePic" src="~/Content/MyPics/codingwords.jpg" />
   </div>
<h1 class="divider"></h1>
<h2 class="text-center">Education</h2>
<h3 font-family="Roboto" class="text-center"><font color="#A82965">We</font><font color="#2BA833">Can</font><font color="#1664CF">{Code}</font><font color="#9B1B30">IT</font></h3>
<div class="row">
    <h4 class="col-md-1 col-md-offset-1 ">Algorithms</h4><h4 class="col-md-1 col-md-offset-1 text-center">Scrum/Agile</h4><h4 class="col-md-3 col-md-offset-2 text-right">Problem Solving</h4><h4 class="col-md-2 col-md-offset-1 text-left ">Visual Studio</h4>
</div>
<div class="row">
    <h4 class="col-md-4">Troubleshooting and Debugging</h4><h4 class="col-md-3 col-md-offset-1 text-left"> Web Development</h4><h4 class="col-md-3 col-md-offset-1 text-right">Object-Oriented Programming</h4>   
</div>
<div class="row">
    <h4 class="col-md-1 col-md-offset-1 text-center ">.NET</h4><h4 class="col-md-1 col-md-offset-1 text-center">SQL</h4><h4 class="col-md-1 col-md-offset-4">CSS</h4><h4 class="col-md-1 col-md-offset-1">HTML</h4> 
</div>
<div class="row">
    <h4 class="col-md-1 text-center ">Bootstrap</h4><h4 class="col-md-1 col-md-offset-1 text-center ">MVC</h4><h4 class="col-md-2 col-md-offset-2 text-center">JavaScript</h4><h4 class="col-md-1 col-md-offset-1 text-center ">jQuery</h4><h4 class="col-md-1 col-md-offset-1 text-center ">ASP.NET</h4>
</div>
<a name="#contact"><h2 class="text-center text-primary">Contact Info</h2></a>
<h1 class="divider"></h1>
<div class="row">
    <h4 class="col-md-4 text-center">LinkedIn: <a href="https://www.linkedin.com/in/walshkirstin" target="_blank">linkedin.com/in/walshkirstin</a></h4><h4 class="col-md-4 text-center">email:<a href="mailto:kirstinwalsh0805@gmail.com">kirstinwalsh0805@gmail.com</a></h4><h4 class="col-md-4 text-center">GitHub: <a href="https://github.com/pyxis828/" target="_blank">github.com/pyxis828</a></h4>
</div>
